<div class="flex justify-between items-center px-8 py-4 bg-white shadow-sm mt-4 fixed w-[95%] mx-auto rounded-lg">
  <div>
    Cedis2RMB
  </div>
  <div class="bg-blue p-1 px-4 rounded text-white">
    Buy
  </div>
</div>