<div class="hidden w-[95%] mx-auto md:block">
  <div class="flex justify-between items-center fixed px-8 py-4 bg-white shadow-sm w-[95%] rounded-lg mt-5">
    <div class="flex items-center gap-x-2.5">
      <div class="w-[30px]">
        <%= image_tag 'logo_blue.svg', alt: 'logo', class: "w-full" %>
      </div>
      <div class="font-semibold">
        Cedis2RMB
      </div>
    </div>
    <div class="bg-blue p-1 px-4 rounded text-white">
      BU¥
    </div>
  </div>
</div>