<div class='w-full block'>
  <%= render 'header' %>

  <!--Top segment-->
  <div class="p-32 pt-48 flex justify-between text-grey-dark items-center">
    <div class="text-3xl w-[40%]">
      <div>
        Provide funding for any <span class="text-blue text-4xl font-semibold">Alipay</span>,
        <span class="text-blue text-4xl font-semibold">WeChat</span>, and bank account quickly and efficiently,
        ensuring prompt processing and <span class="text-blue text-4xl font-semibold">Secure</span> transactions.
      </div>
      <div class="bg-blue text-white px-4 py-2 rounded text-base w-fit mt-8">Login/Register</div>
    </div>
    <div class="w-[400px] h-[400px] rounded-full bg-grey-light">
    </div>
  </div>

  <!--Services segment -->
  <div class="bg-light-blue py-16">
    <div class="flex justify-center items-center gap-x-2.5 mt-4">
      <hr class="border-dark-blue border-1/2 w-[3%]">
      <div class="text-center text-sm font-semibold text-dark-blue">our services</div>
      <hr class="border-dark-blue border-1/2 w-[3%]">
    </div>
    <div class="text-4xl text-center font-bold text-dark-blue">Our Services</div>
    <div class="mt-16 flex justify-around ">
      <div class="bg-white p-8 shadow text-center w-[20%] rounded-b-lg border-b-4 border-blue">
        <div class="w-[30%] rounded-full bg-blue p-4 text-white my-8 mx-auto">R</div>
        <div class="font-bold text-xl my-8">Dependable</div>
        <div class="text-xl font-light">
          With a proven track record of reliability and security, we've earned the trust of thousands.
        </div>
      </div>
      <div class="bg-white p-8 shadow text-center w-[20%] rounded-b-lg border-b-4 border-blue">
        <div class="w-[30%] rounded-full bg-blue p-4 text-white my-8 mx-auto">R</div>
        <div class="font-bold text-xl my-8">Dependable</div>
        <div class="text-xl font-light">
          With a proven track record of reliability and security, we've earned the trust of thousands.
        </div>
      </div>
      <div class="bg-white p-8 shadow text-center w-[20%] rounded-b-lg border-b-4 border-blue">
        <div class="w-[30%] rounded-full bg-blue p-4 text-white my-8 mx-auto">R</div>
        <div class="font-bold text-xl my-8">Dependable</div>
        <div class="text-xl font-light">
          With a proven track record of reliability and security, we've earned the trust of thousands.
        </div>
      </div>
      <div class="bg-white p-8 shadow text-center w-[20%] rounded-b-lg border-b-4 border-blue">
        <div class="w-[30%] rounded-full bg-blue p-4 text-white my-8 mx-auto">R</div>
        <div class="font-bold text-xl my-8">Dependable</div>
        <div class="text-xl font-light">
          With a proven track record of reliability and security, we've earned the trust of thousands.
        </div>
      </div>
    </div>
  </div>
</div>
