<div class='w-full bg-yellow-300 block'>
  <%= render 'header' %>

  <!--Top segment-->
  <div class="p-32 pt-48 flex justify-between text-grey-dark items-center">
    <div class="text-3xl w-[40%]">
      <div>
        Provide funding for any <span class="text-blue text-4xl font-semibold">Alipay</span>,
        <span class="text-blue text-4xl font-semibold">WeChat</span>, and bank account quickly and efficiently,
        ensuring prompt processing and <span class="text-blue text-4xl font-semibold">Secure</span> transactions.
      </div>
      <div class="bg-blue text-white px-4 py-2 rounded text-base w-fit mt-8">Login/Register</div>
    </div>
    <div class="w-[400px] h-[400px] rounded-full bg-grey-light">
    </div>
  </div>

  <!--Services segment -->
</div>
