<div class='w-full block'>
  <%= render 'header' %>

  <!--Top segment-->
  <div class="p-16 md:p-32 lg:p-48 md:pt-48 flex justify-between text-grey-dark items-center">
    <div class="text-3xl w-[80%] md:w-[40%]">
      <div>
        Provide funding for any <span class="text-blue text-4xl font-semibold">Alipay</span>,
        <span class="text-blue text-4xl font-semibold">WeChat</span>, and bank account quickly and efficiently,
        ensuring prompt processing and <span class="text-blue text-4xl font-semibold">Secure</span> transactions.
      </div>
      <div class="bg-blue text-white px-4 py-2 rounded text-base w-fit mt-8">Login/Register</div>
      <div class="bg-blue text-white rounded text-base w-fit inline md:hidden">
        <%= link_to "BU¥", new_order_path, class: "bg-blue p-2 px-4 rounded text-white" %>
      </div>
    </div>
    <div class="w-[400px] h-[400px] rounded-full bg-grey-light hidden md:block">
    </div>
  </div>

  <!--Services segment -->
  <div class="bg-blue-light py-16">
    <div class="flex justify-center items-center gap-x-2.5 mt-4">
      <hr class="border-blue-dark border-1/2 w-[3%]">
      <div class="text-center text-sm font-semibold text-blue-dark">our services</div>
      <hr class="border-blue-dark border-1/2 w-[3%]">
    </div>
    <div class="text-4xl text-center font-bold text-blue-dark">Our Services</div>

    <!-- Services -->
    <div class="overflow-x-scroll mt-16 flex justify-around px-4 gap-x-4">
      <div class="bg-white p-8 shadow text-center w-[45%] md:w-[35%] lg:w-[20%] flex-none rounded-b-lg border-b-4 border-blue">
        <div class="w-[30%] rounded-full bg-blue p-4 text-white my-8 mx-auto">R</div>
        <div class="font-bold text-xl my-8">Payments</div>
        <div class="text-xl font-light">
          Make direct payments in your preferred currency (Cedis/RMB) to both international and local systems.
        </div>
      </div>
      <div class="bg-white p-8 shadow text-center w-[45%] md:w-[35%] lg:w-[20%] flex-none rounded-b-lg border-b-4 border-blue">
        <div class="w-[30%] rounded-full bg-blue p-4 text-white my-8 mx-auto">R</div>
        <div class="font-bold text-xl my-8">E-cash</div>
        <div class="text-xl font-light">
          Receive direct electronic payments in either Cedis or RMB with no hassle.
        </div>
      </div>
      <div class="bg-white p-8 shadow text-center w-[45%] md:w-[35%] lg:w-[20%] flex-none rounded-b-lg border-b-4 border-blue">
        <div class="w-[30%] rounded-full bg-blue p-4 text-white my-8 mx-auto">R</div>
        <div class="font-bold text-xl my-8">Currency Buying for Profit</div>
        <div class="text-xl font-light">
          Capitalize on market movements and buy Cedis/RMB to profit when the other weakens.
        </div>
      </div>
      <div class="bg-white p-8 shadow text-center w-[45%] md:w-[35%] lg:w-[20%] flex-none rounded-b-lg border-b-4 border-blue">
        <div class="w-[30%] rounded-full bg-blue p-4 text-white my-8 mx-auto">R</div>
        <div class="font-bold text-xl my-8">Access funds 24/7</div>
        <div class="text-xl font-light">
          Have access to Cedis/RMB anytime anyday. We are always available.
        </div>
      </div>
    </div>
  </div>

  <!-- Steps segment -->
  <div class="w-[100%] lg:w-[60%] lg:mx-auto pt-4 pb-16" id="steps">
    <div class="flex justify-center items-center gap-x-2.5 mt-4 pt-8">
      <hr class="border-blue-dark border-1/2 w-[3%]">
      <div class="text-center text-sm font-semibold text-blue-dark">trust the process</div>
      <hr class="border-blue-dark border-1/2 w-[3%]">
    </div>
    <div class="text-4xl text-center font-bold text-blue-dark mb-16">Our Approach</div>

    <!-- Steps -->
    <div class="px-4 flex flex-col md:flex-row justify-between text-grey-dark items-center mb-8">
      <div class="w-[full] md:[300px] h-[300px] flex-none rounded bg-grey-light">
      </div>
      <div class="text-xl md:w-[40%] flex-none">
        <div class="text-2xl text-left font-bold text-blue-dark mb-4">
          Select currency
        </div>
        <div>
          Select the currency you want to trade in, leave the conversion headaches to us.
        </div>
      </div>
    </div>
    <div class="px-4 flex flex-col md:flex-row-reverse justify-between text-grey-dark items-center mb-8">
      <div class="w-[full] md:[300px] h-[300px] flex-none rounded bg-grey-light">
      </div>
      <div class="text-xl md:w-[40%] flex-none">
        <div class="text-2xl text-left font-bold text-blue-dark mb-4">
          Enter amount
        </div>
        <div>
          After selecting the currency you want to buy and enter the amount you want to buy.
          Alternatively, enter the currency you are selling and enter how much you want to sell.
        </div>
      </div>
    </div>
    <div class="px-4 flex flex-col md:flex-row justify-between text-grey-dark items-center mb-8">
      <div class="w-[full] md:[300px] h-[300px] flex-none rounded bg-grey-light">
      </div>
      <div class="text-xl md:w-[40%] flex-none">
        <div class="text-2xl text-left font-bold text-blue-dark mb-4">
          Enter account for payment
        </div>
        <div>
          Now enter the details of the account you want to imburse. We can make payments to
          Bank, WeChat, Alipay, Momo and many other accounts.
        </div>
      </div>
    </div>
    <div class="px-4 flex flex-col md:flex-row-reverse justify-between text-grey-dark items-center mb-8">
      <div class="w-[full] md:[300px] h-[300px] flex-none rounded bg-grey-light">
      </div>
      <div class="text-xl md:w-[40%] flex-none">
        <div class="text-2xl text-left font-bold text-blue-dark mb-4">
          Confirm and pay
        </div>
        <div>
          Once you have made this payment, it's time to sit back and relax. In less than 30mins,
          you should receive the payments, and a confirmation of the payment.
        </div>
      </div>
    </div>

  </div>

  <!-- Footer -->
  <div class="bg-blue-dark text-white py-8">
    <div class="flex justify-center items-center gap-x-2.5 mt-4">
      <hr class="border-white border-1/2 w-[3%]">
      <div class="text-center text-sm font-semibold">frequently asked questions</div>
      <hr class="border-white border-1/2 w-[3%]">
    </div>
    <div class="text-4xl text-center font-bold">F.A.Q</div>

    <!--Questions-->
    <div id="faq" class="my-8">
      <div class="flex flex-col lg:flex-row lg:gap-8 w-[80%] md:w-[60%] lg:w-[80%] mx-auto">
        <div class="w-full">
          <details class="border border-white rounded-lg p-4 font-semibold h-fit my-4 border-opacity-50">
            <summary class="outline-none">
              HOW DO I KNOW CEDIS2RMB IS NOT SCAM
            </summary>
            <div class="text-sm font-light mt-4">
              We understand that online transactions can raise concerns.
              At Buy-rmb.com, we use the latest security measures to keep your money safe.
              However, if you prefer a more traditional approach, we offer alternative solutions:
            </div>
          </details>
          <details class="border border-white rounded-lg p-4 font-semibold h-fit my-4 border-opacity-50">
            <summary class="outline-none">
              HOW DO I KNOW CEDIS2RMB IS NOT SCAM
            </summary>
            <div class="text-sm font-light mt-4">
              We understand that online transactions can raise concerns.
              At Buy-rmb.com, we use the latest security measures to keep your money safe.
              However, if you prefer a more traditional approach, we offer alternative solutions:
            </div>
          </details>
          <details class="border border-white rounded-lg p-4 font-semibold h-fit mt-4 border-opacity-50">
            <summary class="outline-none">
              HOW DO I KNOW CEDIS2RMB IS NOT SCAM
            </summary>
            <div class="text-sm font-light mt-4">
              We understand that online transactions can raise concerns.
              At Buy-rmb.com, we use the latest security measures to keep your money safe.
              However, if you prefer a more traditional approach, we offer alternative solutions:
            </div>
          </details>
        </div>
        <div class="w-full">
          <details class="border border-white rounded-lg p-4 font-semibold h-fit my-4 border-opacity-50">
            <summary class="outline-none">
              HOW DO I KNOW CEDIS2RMB IS NOT SCAM
            </summary>
            <div class="text-sm font-light mt-4">
              We understand that online transactions can raise concerns.
              At Buy-rmb.com, we use the latest security measures to keep your money safe.
              However, if you prefer a more traditional approach, we offer alternative solutions:
            </div>
          </details>
          <details class="border border-white rounded-lg p-4 font-semibold h-fit my-4 border-opacity-50">
            <summary class="outline-none">
              HOW DO I KNOW CEDIS2RMB IS NOT SCAM
            </summary>
            <div class="text-sm font-light mt-4">
              We understand that online transactions can raise concerns.
              At Buy-rmb.com, we use the latest security measures to keep your money safe.
              However, if you prefer a more traditional approach, we offer alternative solutions:
            </div>
          </details>
          <details class="border border-white rounded-lg p-4 font-semibold h-fit my-4 border-opacity-50">
            <summary class="outline-none">
              HOW DO I KNOW CEDIS2RMB IS NOT SCAM
            </summary>
            <div class="text-sm font-light mt-4">
              We understand that online transactions can raise concerns.
              At Buy-rmb.com, we use the latest security measures to keep your money safe.
              However, if you prefer a more traditional approach, we offer alternative solutions:
            </div>
          </details>
        </div>
      </div>
    </div>

    <hr class="opacity-30">

    <!-- Footer bottom -->
    <div class="mt-8 text-sm">
      <div class="w-[80%] mx-auto flex justify-between">
        <div class="md:flex md:items-center md:justify-between md:w-[100%] lg:block">
          <div class="flex items-center gap-x-2.5">
            <div class="bg-white rounded-full w-[30px] h-[30px]">
              <%= image_tag 'logo_white.svg', alt: 'logo', class: "w-full" %>
            </div>
            <div class="">Cedis2RMB</div>
          </div>
          <div class="my-2">
            Terms of use | Privacy policy | Data Security
          </div>
          <div class="font-semibold">
            2024 Cedis2RMB. All rights reserved
          </div>
        </div>
        <div class="hidden lg:block lg:w-[80%]">
          <h6 class="font-semibold">Newsletter</h6>
          <div class="my-2">By clicking subscribe, you agree to our privacy policy</div>
          <div class="bg-white text-grey-dark font-bold rounded py-1 px-2 flex justify-between items-center">
            Enter your email address
            <span class="bg-blue-dark text-white font-semibold py-1 px-8 rounded">Subscribe</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
