<div class='w-full block'>
  <%= render 'header' %>

  <!--Top segment-->
  <div class="p-16 md:p-32 lg:p-48 md:pt-48 flex justify-between text-grey-dark items-center">
    <div class="text-3xl w-[80%] md:w-[40%]">
      <div>
        Provide funding for any <span class="text-blue text-4xl font-semibold">Alipay</span>,
        <span class="text-blue text-4xl font-semibold">WeChat</span>, and bank account quickly and efficiently,
        ensuring prompt processing and <span class="text-blue text-4xl font-semibold">Secure</span> transactions.
      </div>
      <div class="bg-blue text-white px-4 py-2 rounded text-base w-fit mt-8">Login/Register</div>
      <div class="bg-blue text-white px-4 py-2 rounded text-base w-fit inline md:hidden">Buy</div>
    </div>
    <div class="w-[400px] h-[400px] rounded-full bg-grey-light hidden md:block">
    </div>
  </div>

  <!--Services segment -->
  <div class="bg-light-blue py-16">
    <div class="flex justify-center items-center gap-x-2.5 mt-4">
      <hr class="border-dark-blue border-1/2 w-[3%]">
      <div class="text-center text-sm font-semibold text-dark-blue">our services</div>
      <hr class="border-dark-blue border-1/2 w-[3%]">
    </div>
    <div class="text-4xl text-center font-bold text-dark-blue">Our Services</div>

    <!-- Services -->
    <div class="overflow-x-scroll mt-16 flex justify-around px-4 gap-x-4">
      <div class="bg-white p-8 shadow text-center w-[45%] md:w-[35%] lg:w-[20%] flex-none rounded-b-lg border-b-4 border-blue">
        <div class="w-[30%] rounded-full bg-blue p-4 text-white my-8 mx-auto">R</div>
        <div class="font-bold text-xl my-8">Dependable</div>
        <div class="text-xl font-light">
          With a proven track record of reliability and security, we've earned the trust of thousands.
        </div>
      </div>
      <div class="bg-white p-8 shadow text-center w-[45%] md:w-[35%] lg:w-[20%] flex-none rounded-b-lg border-b-4 border-blue">
        <div class="w-[30%] rounded-full bg-blue p-4 text-white my-8 mx-auto">R</div>
        <div class="font-bold text-xl my-8">Dependable</div>
        <div class="text-xl font-light">
          With a proven track record of reliability and security, we've earned the trust of thousands.
        </div>
      </div>
      <div class="bg-white p-8 shadow text-center w-[45%] md:w-[35%] lg:w-[20%] flex-none rounded-b-lg border-b-4 border-blue">
        <div class="w-[30%] rounded-full bg-blue p-4 text-white my-8 mx-auto">R</div>
        <div class="font-bold text-xl my-8">Dependable</div>
        <div class="text-xl font-light">
          With a proven track record of reliability and security, we've earned the trust of thousands.
        </div>
      </div>
      <div class="bg-white p-8 shadow text-center w-[45%] md:w-[35%] lg:w-[20%] flex-none rounded-b-lg border-b-4 border-blue">
        <div class="w-[30%] rounded-full bg-blue p-4 text-white my-8 mx-auto">R</div>
        <div class="font-bold text-xl my-8">Dependable</div>
        <div class="text-xl font-light">
          With a proven track record of reliability and security, we've earned the trust of thousands.
        </div>
      </div>
    </div>
  </div>

  <!-- Steps segment -->
  <div class="w-[100%] lg:w-[60%] lg:mx-auto pt-4 pb-16" id="steps">
    <div class="flex justify-center items-center gap-x-2.5 mt-4 pt-8">
      <hr class="border-dark-blue border-1/2 w-[3%]">
      <div class="text-center text-sm font-semibold text-dark-blue">trust the process</div>
      <hr class="border-dark-blue border-1/2 w-[3%]">
    </div>
    <div class="text-4xl text-center font-bold text-dark-blue mb-16">Our Approach</div>

    <!-- Steps -->
    <div class="px-4 flex flex-col md:flex-row justify-between text-grey-dark items-center mb-8">
      <div class="w-[full] md:[300px] h-[300px] flex-none rounded bg-grey-light">
      </div>
      <div class="text-xl md:w-[40%] flex-none">
        <div class="text-2xl text-left font-bold text-dark-blue mb-4">
          Select payment method
        </div>
        <div>
          Provide funding for any, and bank account quickly and efficiently,
          ensuring prompt processing and transactions.
        </div>
      </div>
    </div>
    <div class="px-4 flex flex-col md:flex-row-reverse justify-between text-grey-dark items-center mb-8">
      <div class="w-[full] md:[300px] h-[300px] flex-none rounded bg-grey-light">
      </div>
      <div class="text-xl md:w-[40%] flex-none">
        <div class="text-2xl text-left font-bold text-dark-blue mb-4">
          Enter transaction information
        </div>
        <div>
          After choosing whether you want to buy or sell, you'll be directed to a page where
          you can input the transfer and recipient information required to complete your
          transaction.
        </div>
      </div>
    </div>
    <div class="px-4 flex flex-col md:flex-row justify-between text-grey-dark items-center mb-8">
      <div class="w-[full] md:[300px] h-[300px] flex-none rounded bg-grey-light">
      </div>
      <div class="text-xl md:w-[40%] flex-none">
        <div class="text-2xl text-left font-bold text-dark-blue mb-4">
          Confirm and pay
        </div>
        <div>
          Upon submitting transfer details, the system will automatically convert the amount
          to  its equivalent cedis
        </div>
      </div>
    </div>
    <div class="px-4 flex flex-col md:flex-row-reverse justify-between text-grey-dark items-center mb-8">
      <div class="w-[full] md:[300px] h-[300px] flex-none rounded bg-grey-light">
      </div>
      <div class="text-xl md:w-[40%] flex-none">
        <div class="text-2xl text-left font-bold text-dark-blue mb-4">
          Receipt confirmation
        </div>
        <div>
          Once the payment is complete, the Yuan equivalent would be promptly transferred
          to the designated recipieny. A receipt would be sent to you.
        </div>
      </div>
    </div>

  </div>

  <!-- Footer -->
  <div class="bg-dark-blue text-white py-8">
    <div class="flex justify-center items-center gap-x-2.5 mt-4">
      <hr class="border-white border-1/2 w-[3%]">
      <div class="text-center text-sm font-semibold">frequently asked questions</div>
      <hr class="border-white border-1/2 w-[3%]">
    </div>
    <div class="text-4xl text-center font-bold">F.A.Q</div>

    <!--Questions-->
    <div id="faq" class="my-8">
      <div class="flex flex-col lg:flex-row lg:gap-8 w-[80%] md:w-[60%] lg:w-[80%] mx-auto">
        <div class="w-full">
          <details class="border border-white rounded-lg p-4 font-semibold h-fit my-4 border-opacity-50">
            <summary class="outline-none">
              HOW DO I KNOW CEDIS2RMB IS NOT SCAM
            </summary>
            <div class="text-sm font-light mt-4">
              We understand that online transactions can raise concerns.
              At Buy-rmb.com, we use the latest security measures to keep your money safe.
              However, if you prefer a more traditional approach, we offer alternative solutions:
            </div>
          </details>
          <details class="border border-white rounded-lg p-4 font-semibold h-fit my-4 border-opacity-50">
            <summary class="outline-none">
              HOW DO I KNOW CEDIS2RMB IS NOT SCAM
            </summary>
            <div class="text-sm font-light mt-4">
              We understand that online transactions can raise concerns.
              At Buy-rmb.com, we use the latest security measures to keep your money safe.
              However, if you prefer a more traditional approach, we offer alternative solutions:
            </div>
          </details>
          <details class="border border-white rounded-lg p-4 font-semibold h-fit mt-4 border-opacity-50">
            <summary class="outline-none">
              HOW DO I KNOW CEDIS2RMB IS NOT SCAM
            </summary>
            <div class="text-sm font-light mt-4">
              We understand that online transactions can raise concerns.
              At Buy-rmb.com, we use the latest security measures to keep your money safe.
              However, if you prefer a more traditional approach, we offer alternative solutions:
            </div>
          </details>
        </div>
        <div class="w-full">
          <details class="border border-white rounded-lg p-4 font-semibold h-fit my-4 border-opacity-50">
            <summary class="outline-none">
              HOW DO I KNOW CEDIS2RMB IS NOT SCAM
            </summary>
            <div class="text-sm font-light mt-4">
              We understand that online transactions can raise concerns.
              At Buy-rmb.com, we use the latest security measures to keep your money safe.
              However, if you prefer a more traditional approach, we offer alternative solutions:
            </div>
          </details>
          <details class="border border-white rounded-lg p-4 font-semibold h-fit my-4 border-opacity-50">
            <summary class="outline-none">
              HOW DO I KNOW CEDIS2RMB IS NOT SCAM
            </summary>
            <div class="text-sm font-light mt-4">
              We understand that online transactions can raise concerns.
              At Buy-rmb.com, we use the latest security measures to keep your money safe.
              However, if you prefer a more traditional approach, we offer alternative solutions:
            </div>
          </details>
          <details class="border border-white rounded-lg p-4 font-semibold h-fit my-4 border-opacity-50">
            <summary class="outline-none">
              HOW DO I KNOW CEDIS2RMB IS NOT SCAM
            </summary>
            <div class="text-sm font-light mt-4">
              We understand that online transactions can raise concerns.
              At Buy-rmb.com, we use the latest security measures to keep your money safe.
              However, if you prefer a more traditional approach, we offer alternative solutions:
            </div>
          </details>
        </div>
      </div>
    </div>

    <hr class="opacity-30">

    <!-- Footer bottom -->
    <div class="mt-8 text-sm">
      <div class="w-[80%] mx-auto flex justify-between">
        <div class="md:flex md:items-center md:justify-between md:w-[100%] lg:block">
          <div class="flex items-center gap-x-2.5">
            <div class="bg-white rounded-full w-[30px] h-[30px]"></div>
            <div class="">Cedis2RMB</div>
          </div>
          <div class="my-2">
            Terms of use | Privacy policy | Data Security
          </div>
          <div class="font-semibold">
            2024 Cedis2RMB. All rights reserved
          </div>
        </div>
        <div class="hidden lg:block">
          <h6 class="font-semibold">Newsletter</h6>
          <div class="my-2">By clicking subscribe, you agree to our privacy policy</div>
          <div class="bg-white text-grey-dark font-bold rounded py-1 px-2 flex justify-between items-center">
            Enter your email address
            <span class="bg-dark-blue text-white font-semibold py-1 px-8 rounded">Subscribe</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
