<div class="w-full bg-blue-light p-2 border-t border-grey-light">

  <div class="bg-white rounded-lg shadow">
    <div class="p-4">
      <div>
        Hello <%= current_user.username %>
      </div>
      <div>
        The current rate of Cedis2RMB is 0.5, 
        <span class="text-blue">Place order now?</span>
      </div>
    </div>
  </div>
</div>