<% if current_page?(orders_path) %>
  <div class="flex gap-x-4 py-4 px-8 rounded-t-lg border-b-2 border-solid border-grey-light bg-white">
    <%= link_to "All",
      orders_path(orders_status: nil, page: 1),
      class: "#{'active-tab' if current_page?(orders_path(orders_status: nil, page: params[:page]))} py-1 px-4 text-black"
    %>
    <%= link_to "Pending",
      orders_path(orders_status: "Pending", page: 1),
      class: "#{'active-tab' if current_page?(orders_path(orders_status: "Pending", page: params[:page]))} py-1 px-4 text-black"
    %>
    <%= link_to "Completed",
      orders_path(orders_status: "Completed", page: 1),
      class: "#{'active-tab' if current_page?(orders_path(orders_status: "Completed", page: params[:page]))} py-1 px-4 text-black"
    %>
  </div>
<% elsif current_page?(order_path) %>
  <div class="flex gap-x-4 py-4 px-8 rounded-lg border-b-2 border-solid border-grey-light bg-white">
    <div>
      <%= link_to "<-", 
        orders_path(orders_status: params[:orders_status], page: params[:page]),
        class: "px-4 py-2 bg-blue bg-opacity-10 rounded text-blue font-bold"
      %>
    </div>
    <div>Back to orders</div>
  </div>
<% end %>